.execute {
    height: 100%;

    .contentbox {
        height: 100%;
    }

    .spanbox {
        height: 56px;
        padding: 0 10px;
        line-height: 56px;
    }

    .innerspan {
        padding: 0 10px;
        cursor: pointer;
    }
}