.detailBox {
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #eef2fe;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: #b3b3b3;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }
    &::-webkit-scrollbar-corner {
        background: #b3b3b3;
    }
}