@import "./reset.scss";
@import "./variable.scss";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	// background-color: $bgColor;
	font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.cusPagination {
	.ant-pagination-item-active {
	  background: #1d59fb;
	  color: #fff;
  
	  a {
		color: #fff;
	  }
	}
  }