$bgColor_b9c8f7: #e2e7f8;
$bgColor: #eef2fe;
$primaryColor: #5582f3;
$lineColoe: #e6e6e6;
$fontColor: #2b2b2b;
// 颜色
$color_999: #999;
$color_245FF2: #245ff2;
$color_white: white;
$color_666: #666;
$color_2B2B2B: #2b2b2b;
$color_B4B4B4: #b4b4b4;
$color_ccc: #ccc;
$color_999: #999;
$color_EC6941: #ec6941;
$color_777: #777;
$color_eee: #eee;
$color_E4ECFD: #e4ecfd;
$color_D1C0A5: #d1c0a5;
$color_00B7EE: #00b7ee;
$color_E0F8FF: #e0f8ff;
$color_B3D465: #b3d465;
$color_E6E6E6: #e6e6e6;

// 字体的大小
$fontTitle: 16px;
$fontSizeBig: 14px;
$fontSizeDef: 14px;
$fontSizeSmall: 12px;
// 字体的weigth
$fontWeightBig: 500;
$fontWeightDef: 400;
$fontWeightSmall: 300;
