.edit {
    color: #245FF2;
    cursor: pointer;
}

.remove {
    color: #D30000;
    cursor: pointer;
}

.approve {
    color: #245FF2;
    cursor: pointer;
}

.revoke {
    color: #ED6A28;
    cursor: pointer;
}

.change {
    color: #245FF2;
    cursor: pointer;
}

.detail {
    color: #245FF2;
    cursor: pointer;
}