.jingyongxin_popconfirm {
    .anticon-exclamation-circle {
        display: none;
    }
    .ant-modal-confirm-content {
        text-align: center;
        margin: 0!important;
    }
    .ant-modal-confirm-btns{
        display: block!important;
        width: 100% !important;
        text-align: center!important;
    }
}